:root {
  font-family: "JetBrains Mono", monospace;
  color-scheme: dark;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-block-start: 2rem;
  margin-inline: 2.5dvw;
  display: grid;
  gap: 3rem;
}

h2 {
  text-align: center;
}

form {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 1fr 1fr;
  max-width: 95dvw;
}

#itemName,
#itemCategory,
#itemSubcategory,
input[type="submit"] {
  grid-column: span 2;
}

input,
select {
  font-size: 1.25rem;
  padding: 0.75rem 2rem;
  border: 2px solid grey;
}
input:focus,
select:focus {
  outline: 2px solid #0075ff;
}

fieldset label {
  cursor: pointer;
  margin: 0;
}
fieldset label:hover {
  font-weight: 900;
}

fieldset label:focus {
  font-weight: 900;
}
input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}
input[type="radio"]:checked + label {
  color: #0075ff;
  font-weight: 900;
}

input[type="radio"]:focus + label {
  color: red;
}

input[type="submit"] {
  padding: 1rem;
  font-size: 1.5rem;
  border: 2px solid grey;
  background-color: #0075ff;
}

.itemList {
  display: grid;
}

.itemListItem {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: repeat(6, 1fr);
  max-width: 95dvw;
  text-align: center;
  line-break: strict;
  padding-block: 0.5rem;
  column-gap: 0.5rem;
}

.itemListItem :not(.itemName, .itemTotalWeight .mobileOnlyInfo) {
  font-size: 0.8rem;
}

.itemCategory,
.itemSubcategory,
.itemPriority,
.itemBagType,
.itemWeight,
.itemAmount {
  grid-column: span 3;
}

.itemName,
.itemTotalWeight {
  grid-column: span 6;
}

.itemAmount,
.itemCategory,
.itemPriority {
  text-align: end;
}

.itemWeight,
.itemSubcategory,
.itemBagType {
  text-align: start;
}

.itemList article:nth-of-type(2n + 1) {
  background: rgba(50, 50, 50);
}

.itemList article:last-of-type {
  background: transparent;
}

.itemListItem.itemListSummary .totalWeight,
.itemListItem.itemListSummary .itemName {
  grid-column: span 6;
  font-size: larger;
  color: #0075ff;
}

.itemCharts img {
  width: 100%;
  height: auto;
}

.itemWeight .mobileOnlyInfo {
  display: none;
}

@media (min-width: 64rem) {
  form {
    grid-template-columns: repeat(6, 1fr);
    max-width: 95dvw;
  }

  input,
  select {
    padding-inline: 1rem 0;
  }
  #itemName {
    grid-column: span 6;
  }
  #itemCategory,
  #itemSubcategory {
    grid-column: span 1;
  }
  input[type="submit"] {
    grid-column: span 6;
  }

  .mobileOnlyInfo {
    display: none;
  }

  .itemListItem {
    display: grid;
    grid-template-columns: 2fr 5ch 5ch 5ch 11ch 1fr 6ch 15ch;
    grid-template-rows: 1fr;
    grid-template-areas: "itemName itemAmount itemWeight itemTotalWeight itemCategory itemSubcategory itemPriority itemBagType";
    gap: 1rem;
    text-align: start;

    & > * {
      grid-column: span 1;
      padding: 0 0.25rem;
    }
  }
  .itemAmount {
    text-align: end;
  }
  .itemWeight,
  .itemTotalWeight,
  .totalWeight {
    text-align: end;
  }
  .itemAmount,
  .itemName {
    grid-column: span 1;
  }

  .itemListItem.itemListSummary .totalWeight,
  .itemListItem.itemListSummary .itemName {
    grid-column: span 1;
  }

  .itemListItem.itemListSummary .totalWeight {
    grid-column: itemTotalWeight;
  }

  .itemCharts img {
    max-width: calc(47.5dvw - 5px);
    height: auto;
  }
}
