:root {
  font-family: "JetBrains Mono", monospace;
  color-scheme: dark light;
  --clr-accent: #0075ff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-block-start: 2rem;
  margin-inline: 2.5dvw;
  display: grid;
  gap: 3rem;
}

h2 {
  text-align: center;
}

form {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 1fr 1fr;
  max-width: 95dvw;
}

#itemName,
#itemCategory,
#itemSubcategory,
input[type="submit"] {
  grid-column: span 2;
}

input,
select {
  font-size: 1.25rem;
  padding: 0.75rem 2rem;
  border: 2px solid grey;
}

input:focus,
select:focus {
  outline: 2px solid var(--clr-accent);
}

input[type="submit"] {
  padding: 1rem;
  font-size: 1.5rem;
  border: 2px solid grey;
  background-color: var(--clr-accent);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  gap: 1rem;
  margin-block: 1rem;
}

.filters input {
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 0;
  width: 0;
}

.filters label:hover {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.filters label:has(input:checked) {
  color: var(--clr-accent);
}

.filters:has(:not(:checked)) ~ .itemListItem {
  display: grid;
}

.filters:has(:checked) ~ .itemListItem {
  display: none;
}

.filters:has(#bags:checked) ~ article.carryOn.bags,
.filters:has(#clothing:checked) ~ article.carryOn.clothing,
.filters:has(#footwear:checked) ~ article.carryOn.footwear,
.filters:has(#grooming:checked) ~ article.carryOn.grooming,
.filters:has(#electronics:checked) ~ article.carryOn.electronics,
.filters:has(#hygiene:checked) ~ article.carryOn.hygiene,
.filters:has(#medical:checked) ~ article.carryOn.medical,
.filters:has(#consumables:checked) ~ article.carryOn.consumables,
.filters:has(#necessities:checked) ~ article.carryOn.necessities,
.filters:has(#other:checked) ~ article.carryOn.other,
.filters:has(#bags2:checked) ~ article.personalItem.bags,
.filters:has(#clothing2:checked) ~ article.personalItem.clothing,
.filters:has(#footwear2:checked) ~ article.personalItem.footwear,
.filters:has(#grooming2:checked) ~ article.personalItem.grooming,
.filters:has(#electronics2:checked) ~ article.personalItem.electronics,
.filters:has(#hygiene2:checked) ~ article.personalItem.hygiene,
.filters:has(#medical2:checked) ~ article.personalItem.medical,
.filters:has(#consumables2:checked) ~ article.personalItem.consumables,
.filters:has(#necessities2:checked) ~ article.personalItem.necessities,
.filters:has(#other2:checked) ~ article.personalItem.other {
  display: grid;
}

.itemList {
  display: grid;
}

.itemListHeader {
  display: none;
}

.itemListEmpty {
  display: grid;
  padding-block: 0.5rem;
  border-bottom: 1px solid grey;
  font-style: italic;
}

.itemList:has(.itemListItem) .itemListEmpty {
  display: none;
}

.itemListItem,
.itemListSummary {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: repeat(6, 1fr);
  position: relative;
  max-width: 95dvw;
  text-align: center;
  padding-block: 0.5rem;
  column-gap: 1rem;
  border-bottom: 1px solid grey;
}

.itemListItem .deleteItem {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  padding: 0.25rem;
  color: red;
  cursor: pointer;
}

.itemCategory,
.itemSubcategory,
.itemPriority,
.itemBagType,
.itemWeight,
.itemAmount {
  grid-column: span 3;
}

.itemName,
.itemPriority,
.itemTotalWeight {
  grid-column: span 6;
}

.itemAmount,
.itemCategory {
  text-align: end;
}

.itemWeight,
.itemSubcategory,
.itemBagType {
  text-align: start;
}

.itemListSummary .totalWeight,
.itemListSummary .itemName {
  grid-column: span 6;
  font-size: larger;
  color: var(--clr-accent);
}

.itemCharts img {
  width: 100%;
  height: auto;
}

@media (min-width: 64rem) {
  form {
    grid-template-columns: repeat(6, 1fr);
    max-width: 95dvw;
  }

  input,
  select {
    padding-inline: 1rem 0;
  }

  #itemName {
    grid-column: span 6;
  }

  #itemCategory,
  #itemSubcategory {
    grid-column: span 1;
  }

  input[type="submit"] {
    grid-column: span 6;
  }

  .itemListHeader {
    display: grid;
    border-bottom: 2px solid grey;
    font-size: 0.75rem;
  }

  .itemListItem,
  .itemListHeader,
  .itemListEmpty,
  .itemListSummary {
    grid-template-columns: 1fr 3rem 3rem 3rem 2rem 7rem 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "itemName itemAmount itemWeight itemTotalWeight itemCategory itemSubcategory itemPriority";
    gap: 1rem;
    text-align: start;

    & > * {
      grid-column: span 1;
      padding: 0 0.25rem;
    }
  }
  .itemListItem .deleteItem {
    top: 50%;
    right: 0.5rem;
    translate: 0 -50%;
    opacity: 0;
    border: none;
    padding: 0;
  }
  .itemListItem:hover .deleteItem {
    opacity: 1;
  }

  .itemAmount {
    text-align: end;
  }

  .itemWeight,
  .itemTotalWeight,
  .totalWeight {
    text-align: end;
  }

  .itemAmount,
  .itemName {
    grid-column: span 1;
  }

  .itemListSummary .totalWeight,
  .itemListSummary .itemName {
    grid-column: span 1;
  }

  .itemListSummary .totalWeight {
    grid-column: itemTotalWeight;
  }

  .mobileOnlyInfo {
    display: none;
  }

  .itemCharts img {
    max-width: calc(50% - 5px);
    height: auto;
  }
}
