:root {
  --bg-clr-sidebar: #111;
  --bg-clr-main: #222;
  --bg-clr-dialog: #000;
  --bg-clr-inputs: #111;
  --bg-clr-btn: #666;
  --bg-clr-btn-hover: #000;
  --bg-clr-tooltips: #222;
  --bg-clr-focus: #333;
  --box-shadow-clr-topleft: rgba(255, 255, 255, 0.05);
  --box-shadow-clr-bottomright: rgba(0, 0, 0, 0.15);
  --clr-accent: teal;
  /* --clr-edit: white; */
  --clr-focus: white;
  --clr-warning: orange;
  --clr-alert: red;
  --clr-text: white;
  --clr-confirm: lime;
  --clr-cancel: var(--clr-alert);
}
@media (prefers-color-scheme: light) {
  :root {
    --bg-clr-sidebar: #eee;
    --bg-clr-main: #eee;
    --bg-clr-dialog: #fff;
    --bg-clr-inputs: #fff;
    --bg-clr-btn: white;
    --bg-clr-btn-hover: white;
    --bg-clr-tooltips: #fff;
    --bg-clr-focus: #333;
    --box-shadow-clr-topleft: rgba(255, 255, 255, 0.75);
    --box-shadow-clr-bottomright: rgba(0, 0, 0, 0.1);
    --clr-accent: teal;
    --clr-warning: orange;
    --clr-alert: red;
    --clr-text: black;
    --clr-confirm: lime;
    --clr-cancel: var(--clr-alert);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:is(input, button, select):focus {
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px var(--clr-focus);
}

body {
  font-family: "JetBrains Mono", monospace;
  color-scheme: dark light;
  color: var(--clr-text);
  background-color: var(--bg-clr-main);
  margin: 0;
  padding: 0;
}

body:has(dialog(open)) {
  overflow: hidden;
}

h1 {
  margin-block-end: 0;
}

.highlight-warning {
  color: var(--clr-warning);
}

.highlight-alert {
  color: var(--clr-alert);
}

.container {
  display: grid;
  grid-template-columns: 30ch 1fr;
}

.sidebar {
  width: 25ch;
  padding-inline: 10px;
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); */
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

button {
  font-family: "JetBrains Mono", monospace;
  border: none;
  cursor: pointer;
  /* font-size: 1rem; */
  background-color: var(--bg-clr-btn);

  &:hover {
    background-color: var(--bg-clr-btn-hover);
    outline: 1px solid;
  }
}

.hidden {
  display: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 2.5rem;
}

input,
select {
  width: 100%;
  padding: 0.5rem;
  font-family: "JetBrains Mono", monospace;
  border: none;
  background-color: var(--bg-clr-inputs);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.library {
  font-size: 0.75rem;
  max-height: 25rem;
}

.library-header {
  margin-block: 1.5rem 0.5rem;
  border-block-end: 2px solid;
  display: grid;
  grid-template-columns: 6ch 1fr;
  align-items: center;
  & h4 {
    margin: 0;
  }
  & input {
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
    margin: 0;
    border: none;
  }
}

.library div {
  padding-block: 0.125rem;
  cursor: pointer;
}

.drag-handle {
  visibility: hidden;
  margin-inline: auto;
}

.bag-caption {
  font-weight: bold;
  /* margin-block: 2.5rem 1rem; */
  font-size: 1.25rem;
  white-space: pre-line;
  position: relative;
  width: 100%;
  text-align: start;

  & i {
    font-size: 1.25rem;
  }
}

.export-import-trips,
.export-import-libraries {
  & button,
  label {
    background-color: transparent;
    margin: 0;
    padding: 0.25rem;
    font-size: 1rem;

    &:hover {
      outline: 1px solid;
      background-color: transparent;
      color: var(--clr-edit);
    }
  }
}

.import-label {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

input,
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[draggable="true"] {
  cursor: move;
}

.drop-zone {
  border: none;
}

/* Highlight the drop zone when an item is dragged over it */
.drag-over {
  outline: 2px dashed #aaa;
}

aside ul {
  margin: 0;
  padding: 0;
}

aside li,
.library-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &:hover {
    font-style: italic;
  }
}

aside li {
  list-style: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.modal-button {
  font-style: italic;
  font-size: inherit;
  margin-block-start: 0.25rem;
  /* color: #45a049; */
}

#createTripForm,
#addBagForm,
#addItemForm {
  padding: 0;
}

.wrapper {
  min-width: 10rem;
  padding: 2.5rem;
  display: grid;
  gap: 0.25rem;

  & h3 {
    margin: 0;
  }

  & label {
    font-size: 0.75rem;
  }

  & .wrapper-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}

#createTripForm h2,
#createTripForm h3 {
  text-align: center;
  max-width: 35ch;
  margin: 0;
}

.remove-trip-button,
.remove-bag-button,
.remove-item-button {
  visibility: hidden;
  color: rgb(255, 62, 62);
  background-color: transparent;
}

.remove-bag-button, .remove-bag-confirm, .remove-bag-cancel {
  aspect-ratio: 1;
}

main article:hover .remove-item-button {
  visibility: visible;
}

/* .library-entry:hover > button, */
/* li:hover > button, */
/* article:hover button, */
article:hover .drag-handle,
.bag-caption:hover > .remove-bag-button {
  visibility: visible;
}

.bag-index {
  font-weight: bold;
  color: #777;
  font-size: 0.9em;
  font-style: italic;
}

.trips-list-title,
.libraries-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-block-end: 1rem;
  & h2 {
    margin-block: 1rem 0;
  }
}

.libraries-title {
  margin: 0;
}

.libraries-title h3 {
  margin: 0;
}

.trip-start-date-input,
.trip-end-date-input {
  display: flex;
  align-items: center;

  & label {
    width: 10ch;
  }
}

#tripsList {
  display: grid;
  gap: 0.25rem;
  margin-block-end: 1rem;
}

.selected-trip {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

body:has(#tripsList li.selected-trip) #tripInfoNoSelection,
body:has(#createTripForm[open]) #tripInfoNoSelection {
  display: none;
}

body:not(:has(#tripsList li.selected-trip)) #tripInfo {
  display: none;
}

#tripInfoNoSelection {
  max-width: 30ch;
  margin-block-start: 5rem;
  & button {
    font-size: inherit;
  }
}

.trip-start-end {
  display: inline-block;
  font-style: italic;
  font-size: 0.75rem;
  border-bottom: 1px solid;
  width: 10ch;
}

.trip-data {
  text-align: center;
}

#tripDates {
  display: grid;
  gap: 2.5rem;
  margin-inline: auto;
  width: fit-content;
  grid-template-columns: 1fr 1fr;
}

.library-entry {
  display: flex;
  justify-content: space-between;

  & div {
    max-width: 30ch;
    word-break: break-word;
  }

  &:hover {
    text-decoration: underline;
  }
}

article {
  display: grid;
  grid-template-columns: 25px 1fr 6ch 8ch 8ch 3ch 15ch 1fr 25px;
  gap: 1rem;
  padding-block: 0.25rem;
  &:not(:last-child) {
    border-block-end: 1px solid rgb(54, 54, 54);
  }

  &.header-row {
    border-block-end: 2px solid;
    & div {
      font-size: 0.75rem;
    }
  }

  & .modal-button {
    margin-block-start: 0;
    padding: 0.25rem 2rem;
  }

  & div {
    display: inline-block;
    vertical-align: middle;
  }
}

.no-bags {
  margin-block-start: 5rem;
  text-align: center;
}

#tripBags {
  margin-block: 2.5rem;
}

#tripBags section {
  padding: 1rem;
  /* border-radius: 0.25rem; */
}

#tripBags section {
  transition: box-shadow 500ms;
  /* box-shadow: 12px 12px 12px var(--box-shadow-clr-bottomright),
  -10px -10px 10px var(--box-shadow-clr-topleft); */
}

#tripBags section:hover {
  box-shadow: 12px 12px 12px var(--box-shadow-clr-bottomright), -10px -10px 10px var(--box-shadow-clr-topleft);
  /* outline: 1px solid; */
}

body:has(#tripsList li) .no-trips,
body:not(:has(aside #tripsList .selected-trip)) .no-bags,
body:not(:has(aside #tripsList .selected-trip)) .add-bag-section,
body:has(#tripBags section) .no-bags {
  display: none;
}

body:not(:has(.selected-trip)):not(:has(#editEntries:checked)) .library-entry,
body:has(#tripBags:empty):not(:has(#editEntries:checked))
  #itemsLibrary
  .library-entry {
  pointer-events: none;
  color: gray;
  font-style: italic;
}

#addBagForm,
#addItemForm {
  width: 50ch;
}

.dialog-buttons {
  margin-block-start: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;

  & button {
    padding-block: 0.5rem;
  }
}

.btn-confirm {
  background-color: #45a049;
}

[for="editEntries"] {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

#editEntries {
  cursor: pointer;
  width: auto;
  aspect-ratio: 1;
  /* height: 1.5rem; */
}

/* #editEntries:checked + label {
  color: var(--clr-edit);
  text-decoration: dashed;
} */

aside:has(#editEntries:checked) :is(#tripsList li, .library-entry div) {
  color: var(--clr-edit);
  animation: wiggle 3s ease infinite;
}

/* @keyframes wiggle {
  10% {
    rotate: 0.5deg;
    translate: -.5px;
  }
  20% {
    rotate: -0.5deg;
    translate: .5px;
  }
  30% {
    rotate: 0.5deg;
    translate: -.5px;
  }
  40% {
    rotate: -0.5deg;
    translate: .5px;
  }
  50% {
    rotate: 0.5deg;
    translate: -.5px;
  }
  60% {
    rotate: -0.5deg;
    translate: .5px;
  }
  70% {
    rotate: 0.5deg;
    translate: -.5px;
  }
  80% {
    rotate: -0.5deg;
    translate: .5px;
  }
  90% {
    rotate: 0.5deg;
    translate: -.5px;
  }
} */

aside:has(#editEntries:checked) .remove-trip-button,
aside:has(#editEntries:checked) .remove-bag-button,
aside:has(#editEntries:checked) .remove-item-button {
  visibility: visible;
}

/* body:not(:has(aside #editEntries:checked)) #editTripBtn,
body:has(aside #editEntries:checked) #addTripBtn, */
body:not(:has(aside #editEntries:checked)) aside .remove-item-button,
/* body:not(:has(aside #editEntries:checked)) #editBagBtn,
body:not(:has(aside #editEntries:checked)) #editItemBtn, */
body:not(:has(aside #editEntries:checked)) :is(#editTripBtn, #editBagBtn, #editItemBtn, .add-form h3.edit),
body:has(aside #editEntries:checked) :is(#addTripBtn, #addBagBtn, #addItemBtn, .add-form h3:not(:is(.edit, .no-trips))) {
  display: none;
}

.tooltip {
  position: relative;
}

.tooltip .tooltip-text {
  visibility: hidden;
  display: grid;
  min-width: 45ch;
  grid-template-columns: 13ch 1fr;
  gap: 0.5rem;
  background-color: var(--bg-clr-tooltips);
  box-shadow: 12px 12px 12px var(--box-shadow-clr-bottomright),
    -10px -10px 10px var(--box-shadow-clr-topleft);
  padding: 1rem;
  border: 1px solid;
  position: absolute;
  top: -5px;
  left: 105%;
  z-index: 100;
  font-style: initial;
  font-weight: initial;
  font-size: 0.75rem;

  & h3 {
    margin: 0;
    text-wrap: balance;
    max-width: 60ch;
  }
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip-entry {
  text-align: end;
}

section article:last-child:is(.header-row) {
  display: none;
}

section:has(article:last-child:is(.header-row)) .loaded-bag {
  display: none;
}

section:has(article:last-child:not(:is(.header-row))) .empty-bag {
  display: none;
}
.empty-bag {
  font-style: italic;
  color: gainsboro;
}

body:has(aside #editEntries:checked)
  .add-form:has(:is(input:invalid))
  .btn-confirm {
  pointer-events: none;
  background-color: gray;
  opacity: 0.6;
}

body:not(:has(aside #editEntries:checked))
  .add-form:has(:is(input:invalid, select:invalid))
  .btn-confirm {
  pointer-events: none;
  background-color: gray;
  opacity: 0.6;
}

body:not(:has(aside #editEntries:checked))
  div:has(> :is(input:required, select:required))
  label:after {
  content: "*";
  color: red;
  vertical-align: super;
}
body:has(aside #editEntries:checked)
  div:has(> :is(input:required, select:required))
  label:not([for="itemBag"]):after {
  content: "*";
  color: red;
  vertical-align: super;
}

.add-bag-section {
  display: grid;
  place-items: center;

  & button {
    padding: 1rem 3rem;
    font-size: 1rem;
  }
}

.bag-caption {
  display: grid;
  grid-template-columns: 5ch 50ch 1fr 5ch 5ch;
  grid-template-areas: "bag-toggle bag-name bag-total-weight bag-confirm bag-remove";
  align-items: center;
  gap: 2rem;
}

dialog {
  background-color: var(--bg-clr-dialog);
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

.edit {
  margin-block: auto 1rem;
}

.edit:has(input:not(:checked)) p {
  display: none;
}

.edit p {
  margin: 0;
  font-size: 0.75rem;
  text-wrap: balance;
}

#tripBags section input {
  display: none;
}

#tripBags section label {
  cursor: pointer;
  height: 100%;
  display: flex;
  position: relative;
  place-content: center;
  align-items: center;
}

#tripBags section label:hover {
  outline: 1px solid;
}

section .bag-toggle::before {
  content: "\f422";
  position: absolute;
  display: flex;
  height: 100%;
  aspect-ratio: 1;
  place-content: center;
  align-items: center;
  font-family: "FontAwesome";
}

section:has(.bag-toggle-checkbox:checked) .bag-toggle::before {
  content: "\f065";
}

section:has(.bag-toggle-checkbox:checked) article {
  display: none;
}

.bag-toggle {
  grid-area: bag-toggle;
}

.remove-bag-button {
  grid-area: bag-remove;
}

#tripBags :is(.remove-bag-confirm, .remove-bag-cancel, .remove-bag-text) {
  display: none;
  z-index: 4;
  /* aspect-ratio: 1; */
}

.remove-bag-confirm {
  grid-area: bag-confirm;
  color: var(--clr-confirm);
}

.remove-bag-cancel {
  grid-area: bag-remove;
  color: var(--clr-cancel);
}

.remove-bag-text {
  position: absolute;
  padding: 0.5rem 0.5rem 9rem 0.5rem;
  z-index: 3 !important;
  margin: 0;
  text-align: center;
  width: 15ch;
  right: -1ch;
  height: 2.5lh;
  bottom: -0.75rem;
  background-color: var(--bg-clr-dialog);
  border: 1px solid;
}

#tripBags .bag-caption:has(.remove-bag-checkbox:checked) :is(.remove-bag-confirm, .remove-bag-cancel, .remove-bag-text) {
  display: flex;
}

#tripBags .bag-caption:has(.remove-bag-checkbox:checked) .remove-bag-button {
  display: none;
}

section:has(article:not(:is(.row-add-item)):hover) article:hover {
  opacity: 1;
}

section:has(article:not(:is(.header-row, .row-add-item)):hover) article:not(:hover):not(:is(.header-row, .row-add-item)) {
  opacity: 0.5;
}

article:not(.header-row, .row-add-item) {
  opacity: 0;
  /* translate: 100% 0; */
  animation: fadeIn 1000ms forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    /* translate: 100% 0; */
  } to {
    opacity: 1;
    translate: 0 0;
  }
}