<h2>Analysis Results</h2>
<section class="itemList analysisResult">

    <div>
        <h3>Top Heaviest Items</h3>
        {{range .Analysis.TopHeaviestItems}}
        <article class="itemListItem">
            <div class="itemWeight">{{.Weight}} g</div>
            <div class="itemAmount">{{.Amount}}x</div>
            <div class="itemName">{{.Name}}</div>
        </article>
        {{end}}
    </div>

    <div>
        <h3>Weight by Category</h3>
        {{range $key, $value := .Analysis.CategoryData}}
        <article class="itemListItem categoryData">
            <div class="itemWeight">{{$value.Weight}} g</div>
            <div class="itemWeight">{{printf "%.2f" $value.Percentage}} %</div>
            <div class="itemName" style="text-transform: capitalize;">{{$key}}</div>
        </article>
        {{end}}
    </div>

</section>