<div>
    <canvas id="{{ .ID }}" width="400" height="400"></canvas>
    <script>
    const barctx = document.getElementById('{{ .ID }}').getContext('2d');
    const barchart = new Chart(barctx, {
        type: 'bar',
        data: {
            labels: {{ .Labels }},
            datasets: {{ .Datasets }}
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    stacked: true
                },
                x: {
                    stacked: true
                }
            }
        }
    });
    </script>
</div>
